.logout-confirm{
    position: absolute;
    max-width: 400px;
    display: block;
    top: 0;
    width: 100%;
    max-width: 100%;
}

.logout-confirm-header{
    text-align: center;
    background-color: #7ab8eb;
    padding: 34px 0;
}

.logout-confirm-title p {
    font-size: 18px;
    margin-bottom: 5px;
}


.logout-confirm-body {
    padding: 15px 10px 0 20px;
}

.logout-confirm-header .icon-holder{
    width: 85px;
    height: 85px;
    display: block;
    position: relative;
    padding: 10px 8px 0 8px;
    margin: 0 auto;
    line-height: 1.1;
    border-radius: 50px;
    background-color: #fff;
    border:1px solid #7ab8eb;
    box-shadow:0 0 20px 11px #4ea3e8, 0 2px 2px #4ea3e8;
}

.logout-confirm-header .icon-holder .icon{
    font-size: 56px;
    color:#3c99e6;
}

.logout-confirm-content{
    padding: 10px 0 0 0;
}

.logout-confirm-message{
    font-size: 13px;
    color:teal;
}

.logout-confirm-footer{
    padding: 15px 0 15px 0;
    text-align: right;
    border-top: 1px solid rgba(0, 0, 0, 10);
    margin-left: 20px;
    margin-right: 20px;
}

.logout-confirm-footer .dx-button{

  margin-right: 5px;
}
