app-grid-toolbar{
    position: relative;
    display: block;
    float: left;
    width: 100%;
}

.grid-toolbar{
    width: 100%;
    user-select: none;
    background: #fff;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    margin-bottom: 10px;
    padding: 10px 0 10px 10px;
    border-top: 1px solid #8080802b;
    min-height: 44px;
}

.export-excel .dx-menu-item-content:before{
    content:"\f05f";
    display: inline-block;
    font:14px/1 DXIcons;
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-size:16px;
    vertical-align: middle;
}

@media(max-width:1366px){
    .grid-toolbar{
        border-radius: 0;
        box-shadow: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .model-form .grid-toolbar{
        border-radius: 0;
        box-shadow: none;
        margin-bottom: 0;
        border: 0;
        padding: 0 0 10px 0;
        margin-bottom: 10px;
        border-bottom: 1px solid #e9e9e9;
    }
}

@media(max-width:960px){
    .grid-toolbar .dx-button-orange .dx-button-text{
        margin-right: 5px;
    }

    .grid-toolbar .dx-button-orange{
        margin-bottom: 10px;
    }

    .grid-toolbar .dx-button-orange .dx-button-content{
        padding:2px;
    }
    .grid-toolbar .dx-button-orange .dx-button-content .icon{
        margin:0;
        display: none;
    }
    .grid-toolbar .dx-button-orange .dx-button-content .icon:before{
        font-size: 16px;
    }

    .grid-toolbar .export-excel:first-child{
        margin-top: 10px;
    }

    .export-excel{
        margin-top: -10px;
    }

    .export-excel .dx-menu .dx-menu-item-has-text.dx-menu-item-has-submenu .dx-menu-item-text{
        height: 30px;
    }

    .export-excel .dx-menu-item-content:before{
        content: '';
    }
}

@media(max-width:460px){
    .grid-toolbar .dx-button-orange {
        width: auto;
    }
}

.float-btn{
    position: absolute;
    right: 0;
    top:10px
}

.color-legend{
    height: 35px;
    display: inline-block;
    margin-top: 0;
    background: #f1f3f4;
    width: auto;
    margin-bottom: -14px;
    margin-right: -19px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: inset rgba(0, 0, 0, 0.11) 1px 2px 0px 0px, inset rgba(0, 0, 0, 0.11) -1px -2px 0px 0px;
    z-index:1;
    padding-top: 3px;
    padding-right: 10px;
}

.color-legend{
    opacity: 0;
    visibility: hidden;
}

.float-btn .dx-button-orange,
.float-btn .dx-button-orange.dx-state-focused{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    z-index: 9;
    margin-top: -8px;
}

.float-btn .dx-button .dx-button-content{
    padding:4px 5px 0;
}

.open .color-legend{
    animation-name: leftslide;
    animation-duration: .2s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes leftslide{
    from {
        opacity: 0;
        visibility: hidden;
        transform: translate(30%,0);
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: translate(0,0);
    }
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.states .state{
    display: inline-block;
    padding: 5px 0;
    margin: 0 0 0 10px;
}

.states .state .state-color{
    height: 15px;
    width: 15px;
    display: inline-block;
    margin: 0 5px;
}

.states .state .state-id{
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    padding: 0;
    display: inline-block;
    margin-top: -3px;
    vertical-align: middle;
} 