
 <!-- <dx-popup
 [width]="300"
 [height]="280"
 [showTitle]="true"
 title="Information"
 [dragEnabled]="false"
 [closeOnOutsideClick]="true"
 [showCloseButton]="false"
 container=".dx-viewport"
> -->

<dx-popup [ngClass]="ngClass" [container]="containerElement" class="details-model"
    animation="Animation"  [showTitle]="showTitle"  [title]="title" [elementAttr]="elementAttr"
    [width]="width" [maxWidth]="maxWidth" [minWidth]="minWidth"
    [height]="height" [maxHeight]="maxHeight" [minHeight]="minHeight"

    [showTitle]="showTitle" [position]="position" [title]="title"
    [fullScreen]="fullScreen" [dragEnabled]="dragEnabled" [visible]="visible" [closeOnOutsideClick]="closeOnOutsideClick"
    [resizeEnabled]="resizeEnabled" [shading]="shading" [shadingColor]="shadingColor" [showCloseButton]="showCloseButton"
    (onShowing)="showing($event)" (onShown)="shown($event)" (onHiding)="hiding($event)" (onHidden)="hidden($event)"></dx-popup>

<div [attr.id]="containerDivID" style="display: none" class="fade-in">
  <ng-container #componentContainer></ng-container>
</div>


